button{
	color:orange;
	font-size: 20px;
	background-color: black;
	border:solid;
	width: 	110px;
	height: 30px;
}

input{
	font-size: 50px;
}

.text{
	font-size: 20px;
	font-family: 'arial';
	color: orange;
}
.text1{

	font-family: 'arial';
	color: orange;
}

ul li{
	color:orange;

}

.imCustomClass{
	text-decoration: underline;
	color:yellow;
}

#audio{
	display: none;
}
body{
	overflow: auto;
	background-color: #000000;
}
.but{
	color:orange;
	font-size: 15px;
	background-color: black;
	border:solid;
	width: 50px;
    border-radius:20px;
    -webkit-border-radius:20px;    

}
.ton{
	color:orange;
	font-size: 20px;
	background-color: black;
	border:solid;
	width: 	300px;
	height: 30px;
    border-radius:20px;
    -webkit-border-radius:20px;    

}